body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background:  linear-gradient(0deg, rgba(120, 33, 120, 0.9), #964A96, rgba(152, 0, 152, 0.4983), #6C096C);
  font-family: 'Righteous', cursive;
}

